html {
    scroll-behavior: smooth;
  }
  
  :root {
    --bg-dark: #837d67;
    --dark-red: #710707;
    --font-gold: #9d8665;
    --font1: 80px;
    --font2: 32px;
    --font3: 28px;
  }
  
   
  body{margin: 0;}

  
  
  
  
  
 
  
  
  
  
  h1{font: 60px forum;color: white;text-transform: uppercase;line-height: 50px;letter-spacing: 5px;animation: color-change 0.00005ks infinite;
}
li {list-style: none;}
  
  
  
  .main{
    background: var(--bg-dark);
    display: flex;
    flex-flow: row nowrap;
  }
  
  .container {
    
    margin: 0 auto;
    max-width: 700px;
    width: calc(100% - 40px);
    padding: 4px;
    font-size: 20px;
    color: #d4e0d4;
  }
  
  .codeContainer {
    
    margin: 0 auto;
    max-width: 700px;
    width: calc(100% - 40px);
    padding: 4px;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
  }
  
  /*
  Header
  */
  
  
  header{
    background: var(--bg-dark);
    padding: 60px 0px 55px 0;
    color: #fff;
    
  } 
  
  
  .header-container {
    
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    /* max-width: 1440px; */
    background-color: red;
    align-self: center;
  }

  .info-container{
    margin: 0 1vw 0 1vw;
  }

  .scills {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    font-size: 30px;
  }
  
  #works {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }



  .main-container{
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  /* .logo-container {
   position: relative;
   bottom: 40px;
    width: 400px;
    height: 50px;
    
  } */
  
  .sidenav {
    height: 100%;
    width: 10%;
    min-width: 30px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(26, 24, 24);
    
    display: flex;
    align-items: space;
    /* justify-content: center; */
    
    
  }

  
  
  .sidenav ul {
    
    /* padding-top: 40%; */
    display: flex;
    flex-direction: column;
    padding-left: 1vw;
    padding-right: 1vw;
    /* justify-content: space-between; */
    /* align-content: center; */
    
    
    width: 100%;
    
  }

  .sidenav li {


    
    list-style: none;
    flex: auto
    
  }
  .sidenav a{
    display: block;
    width: 8vw;
    height: 8vw;
    
  }
  .sidenav img {
    width: 100%;

  }
  .sidenav div{
    width: 100%;
    height: 100%;
  }
  #listButton {
    background:url(assets/svg/list.svg) no-repeat;
  }
  #codeButton {
    background:url(assets/svg/code.svg) no-repeat;
  }
  #contactsButton {
    background:url(assets/svg/contacts.svg) no-repeat;
  }
  .sidenav button{
    height: 20%;
    
    
  }
  
  
  
  
  
  
  
  
  
  
  